primary-image        cf1:/timos/cpm.tim
primary-config       cf1:/config.cfg
autonegotiate
duplex               full
speed                100
wait                 3
persist              off
console-speed        115200
address          {{ bof.mgmt_ip }}/{{ bof.mgmt_netmask_prefix }}
primary-dns      {{ bof.dns_server_list[0] }}
{% if bof.dns_server_list[1] is defined %}
secondary-dns    {{ bof.dns_server_list[1] }}
{% endif %}
{% if bof.dns_server_list[2] is defined %}
tertiary-dns     {{ bof.dns_server_list[2] }}
{% endif %}
dns-domain       {{ hostname|regex_replace('^[a-zA-Z0-9]+\\.(.*)', '\\1') }}
{% for static_route in bof.vsc_mgmt_static_route_list %}
static-route {{ static_route }} next-hop {{ bof.mgmt_gateway }}
{% endfor %}
